@font-face {
    font-family: 'Dungeon';
    src: url('fonts/DePixelBreit.ttf');
}

html, body {
    font-family: 'Dungeon';
    margin: 0;
    padding: 0;
    background-color: #5c9b38;
    background-image:
        linear-gradient(0deg, transparent 80%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 85%, transparent 85%),
        linear-gradient(90deg, transparent 80%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 85%, transparent 85%);
    height: 100%;
    background-image: url("images/4.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    line-height: 2;
}

.profile-container {
    background-color: #FDF5E6;
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center; 
    border: 8px solid #8b4e2b;
    padding: 20px;
    margin-top: 50px;
    font-size: 18px;
    align-items: flex-start;
    transition: transform, box-shadow;
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px 0px #53361a, 
                10px 10px 0px #53361a, 
                15px 15px 0px #53361a; 
}



.profile-container:hover {
    transform: translate(0);
    box-shadow: 3px 3px 0px #8B5A2B; 
}

.description {
    display: flex; 
    flex-direction: column;  
    justify-content: center;  
    padding: 10px;  
}

.description p {
    margin-bottom: -10px;
}

.game-btn {
    margin-top: 10px;
    display: inline-block;
    background-color: rgb(4, 255, 234);
    color: black;
    padding: 2.5px 5px;
    border: 3px solid #000000;
    box-shadow: 
        3px 3px 0px #000000,
        6px 6px 0px #030000,
        9px 9px 0px #000000;
    transition: transform, box-shadow;
    text-decoration: none;
    margin-right: 10px; 
}

.game-btn:hover {
    color: white;
}

.game-btn:active {
    box-shadow: 
    1px 1px 0px #000000,
    2px 2px 0px #000000,
    3px 3px 0px #000000;
    transform: translateY(6px) translateX(6px); 
}

.keyword {
    font-family: 'Dungeon';
    padding: 10px 10px;
    background-color: #FF0000;
    border: 3px solid #000000;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 
        3px 3px 0px #000000,
        6px 6px 0px #030000,
        9px 9px 0px #000000;
}


.keyword.red {
    background-color: red;
    color: white;
}

.keyword.green {
    background-color: green;
    color: white;
}

.keyword.blue {
    background-color: blue;
    color: white;
}

.keyword.yellow {
    background-color: yellow;
    color: black;
}

.keyword.purple {
    background-color: purple;
    color: white;
}

.keyword.orange {
    background-color: orange;
    color: black;
}


.social-icon img {
    width: 50px; 
    height: 50px;
}

.icon-container {
    margin-top: 10px;
    display: inline-block;
    background-color: white;
    padding: 2.5px 5px;
    border: 3px solid #000000;
    box-shadow: 
        3px 3px 0px #000000,
        6px 6px 0px #030000,
        9px 9px 0px #000000;
    transition: transform, box-shadow;
    margin-right: 10px; 
}

.icon-container:active {
    box-shadow: 
    1px 1px 0px #000000,
    2px 2px 0px #000000,
    3px 3px 0px #000000;
    transform: translateY(6px) translateX(6px); 
}


.profile-image {
    width: 350px; 
    height: 350px;
    margin: 50px;
    height: auto;
    margin-right: 20px; 
}



.description {
    flex: 1; 
}


.projects-section {
    width: 70vw;
    margin: 50px auto;
    font-size: 18px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 50px;  
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 24px;
    text-decoration: underline;
}

.project-card {
    background-color: #FDF5E6;
    font-size: 18px;
    border: 8px solid #8B5A2B;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    transition: transform, box-shadow;
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px 0px #53361a, 
                10px 10px 0px #53361a, 
                15px 15px 0px #53361a; 
}

.project-card:hover {
    transform: translate(0);
    box-shadow: 3px 3px 0px #8B5A2B; 
}


.project-card img {
    width: 500px;
    height: 300px;
    opacity: 0.9;
}

.project-card img:hover {
    opacity: 0.75;
}

.image-container {
    position: relative;
    display: inline-block; 
}

.overlay-text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: rgb(248, 248, 248);
    font-weight: bold;
    background-color: rgba(0, 0, 0, 1); 
    padding: 5px 10px;
    border-radius: 5px; 
}


.project-card a {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s;
    font-size: 18px;
}

.view-project-btn:hover {
    color: #FDF5E6;
}

.view-project-btn {
    padding: 10px 20px;
    background-color: #FF0000;
    border: 3px solid #000000;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.1s;
    box-shadow: 
        3px 3px 0px #000000,
        6px 6px 0px #000000,
        9px 9px 0px #000000;
}


.view-project-btn:active {
    box-shadow: 
    1px 1px 0px #000000,
    2px 2px 0px #000000,
    3px 3px 0px #000000;
    transform: translateY(6px) translateX(6px);
}


.contact-section {
    background-color: #FDF5E6;
    width: 600px;
    margin: 50px auto;
    padding-bottom: 50px;
    border: 10px solid #8B5A2B;
    transition: transform, box-shadow;
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px 0px #53361a, 
                10px 10px 0px #53361a, 
                15px 15px 0px #53361a; 
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section:hover {
    transform: translate(0);
    box-shadow: 3px 3px 0px #8B5A2B; 
}


.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
}

.input-group input, .input-group textarea {
    font-family: 'Dungeon';
    width: 15em;
    margin: auto;
    padding: 10px;
    border: 5px solid #8B5A2B;
    box-shadow: 3px 3px 0px #8B5A2B;
    font-size: 18px;
    margin-bottom: 10px;
}

.input-group textarea {
    height: 5em;
}

.contact-section h2 {
    display: flex;
    justify-content: center;
}

.submit-button {
    font-family: 'Dungeon';
    padding: 10px 20px;
    background-color: #FF0000;
    border: 3px solid #000000;
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: transform, box-shadow;
    box-shadow: 
        3px 3px 0px #000000,
        6px 6px 0px #000000,
        9px 9px 0px #000000;
}

.submit-button:active {
    box-shadow: 
    1px 1px 0px #000000,
    2px 2px 0px #000000,
    3px 3px 0px #000000;
    transform: translateY(6px) translateX(6px);
}

.submit-button:hover {
    color: #FDF5E6;
}



@media only screen and (max-width: 500px) {
    .profile-container {
        width: 70vw; 
        flex-direction: column;
        align-items: center;
        transform: none; 
        box-shadow: 3px 3px 0px #53361a;
    }

    .profile-container img {
        width: 200px;
        height: 200px;
        margin-bottom: -10px;
    }


    .description {
        text-align: center;
        font-size: 14px; 
    }

    .description p {
        margin-bottom: 10px;
    }

    .keyword {
        font-size: 14px; 
        margin: 5px;
    }

    .social-icon img {
        padding: 5px;
        width: 40px; 
        height: 40px;
    }

    .grid {
        grid-template-columns: 1fr;  
    }

    .project-section {
        flex-direction: column; 
    }

    .project-card {
        width: 45vw;
        margin: auto;
        font-size: 14px;
    }

    .project-card h3 {
        text-decoration: none;
        font-size: 16px;
    }

    .project-card a {
        font-size: 14px;
    }


    .project-card img {
        width: 100%;
        height: 100px;
    }

    .image-container {
        position: relative;
        display: inline-block; 
    }
    
    .overlay-text {
        display: none;
    }

    .contact-section {
        width: 300px; 
        padding: 20px; 
        transform: none; 
        box-shadow: 3px 3px 0px #53361a;
        margin: 10 auto;
    }

    .input-group label {
        font-size: 14px; 
    }

    .input-group input, .input-group textarea {
        width: 250px; 
        font-size: 14px; 
    }
}


@media only screen and (min-width: 501px) and (max-width: 700px) {
    .profile-container {
        width: 80vw; 
        flex-direction: column;
        align-items: center;
        transform: none; 
        box-shadow: 3px 3px 0px #53361a;
    }

    .profile-container img {
        width: 250px;
        height: 250px;
        margin-bottom: -10px;
    }

    .description {
        text-align: center;
        font-size: 16px; 
    }

    .description p {
        margin-bottom: 10px;
    }

    .keyword {
        font-size: 16px; 
        margin: 5px;
    }

    .social-icon img {
        width: 50px; 
        height: 50px;
    }

    .grid {
        grid-template-columns: 1fr;  
    }

    .project-section {
        flex-direction: column; 
    }

    .project-card {
        width: 50vw;
        margin: auto;
        font-size: 16px;
    }

    .project-card h3 {
        text-decoration: none;
        font-size: 20px;
    }

    .project-card a {
        font-size: 16px;
    }


    .project-card img {
        width: 200px;
        height: 100px;
    }

    .overlay-text {
        display: none;
    }

    .contact-section {
        width: 300px; 
        padding: 20px; 
        transform: none; 
        box-shadow: 3px 3px 0px #53361a;
        margin: 10 auto;
    }

    .input-group label {
        font-size: 16px; 
    }

    .input-group input, .input-group textarea {
        width: 250px; 
        font-size: 16px; 
    }
}


@media only screen and (min-width: 701px) and (max-width: 1200px) {
    .profile-container {
        width: 80vw; 
        flex-direction: column;
        align-items: center;
        transform: none; 
        box-shadow: 3px 3px 0px #53361a;
    }

    .profile-container img {
        width: 300px;
        height: 300px;
        margin-bottom: -10px;
    }

    .description {
        text-align: center;
        font-size: 18px; 
    }

    .description p {
        margin-bottom: 10px;
    }

    .keyword {
        font-size: 18px; 
        margin: 5px;
    }

    .social-icon img {
        width: 50px; 
        height: 50px;
    }

    .grid {
        grid-template-columns: 1fr;  
    }

    .project-section {
        flex-direction: column; 
    }

    .project-card {
        width: 350px;
        margin: auto;
        font-size: 30px;
    }

    .project-card h3 {
        text-decoration: none;
        font-size: 22px;
    }

    .project-card a {
        font-size: 18px;
    }


    .project-card img {
        width: 300px;
        height: 150px;
    }

    .contact-section {
        width: 400px; 
        padding: 20px; 
        transform: none; 
        box-shadow: 3px 3px 0px #53361a;
        margin: 10 auto;
    }

    .input-group label {
        font-size: 18px; 
    }


    .input-group input, .input-group textarea {
        width: 250px; 
        font-size: 18px; 
    }
}


@media only screen and (min-width: 1201px) and (max-width: 1600px) {
    .profile-container {
        width: 80vw; 
        align-items: center;
        transform: none; 
        box-shadow: 3px 3px 0px #53361a;
    }

    .profile-container img {
        width: 300px;
        height: 300px;
    }

    .description {
        text-align: center;
        font-size: 18px; 
    }

    .description p {
        margin-bottom: 10px;
    }

    .keyword {
        font-size: 18px; 
        margin: 5px;
    }

    .social-icon img {
        width: 50px; 
        height: 50px;
    }

    .grid {
        margin: auto;
        grid-template-columns: 1fr 1fr;  
    }

    .projects-section {
        width: 90vw;
        margin: 50px auto;
        font-size: 18px;
        text-align: center;
    }
    

    .project-card {
        width: 400px;
        height: 600px;
        margin: auto;
        font-size: 18px;
    }

    .project-card h3 {
        text-decoration: none;
        font-size: 24px;
    }

    .project-card a {
        font-size: 18px;
    }


    .project-card img {
        width: 300px;
        height: 150px;
    }

    .contact-section {
        width: 450px; 
        padding: 20px; 
        transform: none; 
        box-shadow: 3px 3px 0px #53361a;
        margin: 10 auto;
    }

    .input-group label {
        font-size: 18px; 
    }

    .input-group input, .input-group textarea {
        width: 300px; 
        font-size: 18px; 
    }
}


